.page-header {
  background: #f7f7f7;
  padding: var(--Lsize) 0;
  margin-bottom: var(--Lsize);
}
.page-header__title {
  margin: 0;
  font-weight: 300;
}

span {
  font-weight: bold;
}
.page-header__actions {
  margin-top: var(--Msize);
}
