.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--Lsize);
}
.input-group__item {
  margin-bottom: var(--Ssize);
}

@media (min-width: 45rem) {
  .input-group {
    flex-direction: row;
    margin-bottom: var(--Lsize);
  }
  .input-group__item {
    margin: 0 var(--Ssize) 0 0;
  }
}
