:root {
  --Ssize: 1.2rem;
  --Msize: 1.6rem;
  --Lsize: 3.2rem;
  --XLsize: 4.8rem;
  --desktop-braekpoint: 45rem;
  --dark-gray: #333;
  --blue: #1c88bf;
  --dark-blue: #364051;
  --gray: #666;
  --large-font: 1.8rem;
}
